<launch>
    <arg name="robot_name"         default="/"/> <!-- Change this for namespacing. -->
    <arg name="rviz"               default="false"/> <!-- Set to true to run rviz in parallel. -->
    <arg name="lite"               default="false" />  <!-- Set to true if you're using CHAMP lite version. Only useful for microcontrollers. -->
    <arg name="ros_control_file"   default="$(find pipebot_config)/config/ros_control/ros_control.yaml" /> <!-- Path to ROS Control configurations. Do not touch. -->
    <arg name="gazebo_world"       default="worlds/empty.world" /> <!-- Path to Gazebo world you want to load. -->
    <arg name="gui"                default="true"/>
    <arg name="world_init_x"       default="0.0" /> <!-- X Initial position of the robot in Gazebo World -->
    <arg name="world_init_y"       default="0.0" /> <!-- Y Initial position of the robot in Gazebo World -->
    <arg name="world_init_z"       default="0.6" /> <!-- Z Initial position of the robot in Gazebo World -->
    <arg name="world_init_heading" default="0.0" /> <!-- Initial heading of the robot in Gazebo World -->

    <param name="use_sim_time" value="true" />

    <!--- ==================== 1) load anymal_b robot model ==================== -->
    <include file="$(find pipebot_config)/launch/bringup.launch">
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="gazebo"                 value="true"/>
        <arg name="lite"                   value="$(arg lite)"/>
        <arg name="rviz"                   value="$(arg rviz)"/>
        <arg name="joint_controller_topic" value="joint_group_position_controller/command"/>
        <arg name="hardware_connected"     value="false"/>
        <arg name="publish_foot_contacts"  value="false"/>
        <arg name="close_loop_odom"        value="true"/>
    </include>

    <!-- ==================== 2) load gazebo world ==================== -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg gazebo_world)"/>
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="false"/>
    </include>

    <group ns="$(arg robot_name)">
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name)  
        -param robot_description -robot_namespace $(arg robot_name) 
        -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading)" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
            joint_states_controller
            joint_group_position_controller
            ">
        </node>
        <node pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>  


</launch>
